html, body {
  height: 100%;
  width: 100%;
    font-family: Georgia, serif;
    background-color: #ffffff;
    text-align: center;
}

img {
    width: 400px;
  border-radius: 10px;
  
}

.result {
  padding-bottom: 200px;
}

Button {
  
  color:#a67fcc;
  background-color: #382b69;
  height:max-content
}


  


  


